.navbar_main_container {
  background-color: transparent;
  padding: 10px 20px !important;
}

.logo {
  width: 70px;
  height: 70px;
  object-fit: contain;
  margin-left: 5%;
}

.heading{
  color: var(--secondary-color);
  font-weight: bold;
  font-size: 35px;
  margin-left: 10%;
  text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 
  0px -4px 10px rgba(255,255,255,0.3);
}

.cart_button {
  border-radius: 50px;
  width: 50px;
  height: 50px;
  border-radius: 40px !important;
  background-color: var(--secondary-color) !important;
  border: none !important;
  box-shadow: 1px 5px 5px 1px grey
  ;
}

.navbar_end_view{
  display: flex;
  justify-content: flex-end;
  width: 30% !important;
}

.dropdown{
  background-color: transparent !important;
  border: 1px solid var(--border-color);
  width: 200px;
}
.dropdown:hover{
  border: 1px solid var(--secondary-color);
}

.search_input {
  border-radius: 30px !important;
  height: 40px;
  margin-right: 10% !important;
  border: 1px solid var(--border-color);
}

/* .links_list {
  display: none;
  width: 50%;
  justify-content: space-around;
  margin-left: 20% !important;
}

.links_list li{
padding: 0% 5px;
}

.links_list li:hover{
 background-color: var(--pink-color);
 border-radius: 60px;
 border-bottom-left-radius: 0px;
}

.links_list li a:hover {
  color: var(--white-color) !important;
 } */

 @media screen and (max-width: 768px) {
}

@media only screen and (max-width: 900px) {
 
}

@media only screen and (max-width: 576px) {

  .heading{
    color: var(--secondary-color);
    font-weight: bold;
    font-size: 35px;
    margin-left: 10%;
    text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 
    0px -4px 10px rgba(255,255,255,0.3);
  }

}