body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --primary-color: #181818;
  --secondary-color: #7745f9;
  --rgba-sec-color: rgba(254,4,60, 0.9);
  --pink-color: #de5d82;
  --l-pink: rgba(222, 93, 130, 0.4);
  --border-color: rgba(141, 144, 147, 0.8);
  --background-color: #202020;
  --yellow-color: #f7b82c;
  --white-color: #ffffff;
  --black-color: #000000;
  --light-grey: #efeff0;
  --dark-grey: #202020;
  --comment-grey-bg: #f1f1f1;
  --white2: #fcfcfd;
  --button: #190a41;

  /* --gradient-bg: linear-gradient(135deg,
      rgba(58, 204, 167, 1) 0%,
      rgba(40, 174, 201, 1) 100%); */

  --font-family: "Segoe UI", "Roboto";
  --heading-font-family: "Barlow", sans-serif;

  --para-text: #77777e;

  --input-bg: #f1f5f6;
  --input-txt: #8d8d8d;
  --profile-btn: #e0e0e0;
  --input-icn: #b7b7b7;
  --history-card-bg: #f3f3f3;
  --heading: #190a41;

  --heading-a: 25px;
  --heading-b: 23px;
  --heading-c: 20px;
  --heading-d: 18px;
  --heading-e: 16px;
  --text: 14px;
  --mobile-text: 12px;
  --mobile-short-text: 10px;
}

a {
  text-decoration: none !important;
  color: white !important;
}

.main-heading{
  text-align: center;
  color: var(--secondary-color);
  margin-top: 10% ;
  font-weight: bold;
  text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 
  0px -4px 10px rgba(255,255,255,0.3);
}

.form-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 15px;
}

.form-container form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 35%;
}


.form-container form h2 {
  text-align: center;  
}

.btn-container {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-container a {
  text-decoration: 'none';
  color: var(--secondary-color) !important;
}


@media only screen and (min-width: 700px) and (max-width: 1115px) {
  .form-container img {
    width: 60%;
  }
}

@media only screen and (max-width: 1000px) {
  .form-container form {
    width: 60% !important;
  }

  .form-container form h2 {
    margin-top: 40px;
  }
}

@media only screen and (max-width: 750px) {
  .form-container img {
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  .form-container form {
    width: 90% !important;


  }


  .main-heading{
    text-align: center;
    color: var(--secondary-color);
    margin-top: 10% ;
    font-weight: bold;
    text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 
    0px -4px 10px rgba(255,255,255,0.3);
  }
}
